@import url(../bower_components/normalize.css/normalize.css);
.wrap {
  max-width: 87.5%;
  margin: 0 auto;
  overflow: hidden; }

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  float: left;
  margin-right: 0; }

.onecol {
  width: 100%; }

.twocol {
  width: 100%; }

.threecol {
  width: 100%; }

.fourcol {
  width: 100%; }

.fivecol {
  width: 100%; }

.sixcol {
  width: 100%; }

.sevencol {
  width: 100%; }

.eightcol {
  width: 100%; }

.ninecol {
  width: 100%; }

.tencol {
  width: 100%; }

.elevencol {
  width: 100%; }

.twelvecol {
  width: 100%; }

.last {
  margin-right: 0 !important; }

@media only screen and (min-width: 768px) {
  .wrap {
    max-width: 94.79%;
    padding: 0 20px; }
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    margin-right: 2.13%; }
  .onecol {
    width: 6.38%; }
  .twocol {
    width: 14.89%; }
  .threecol {
    width: 23.4%; }
  .fourcol {
    width: 31.91%; }
  .fivecol {
    width: 37.42%; }
  .sixcol {
    width: 48.93%; }
  .sevencol {
    width: 57.44%; }
  .eightcol {
    width: 65.95%; }
  .ninecol {
    width: 74.46%; }
  .tencol {
    width: 82.97%; }
  .elevencol {
    width: 91.48%; }
  .twelvecol {
    width: 99.99%; } }

@media only screen and (min-width: 1024px) {
  .wrap {
    max-width: 940px;
    padding: 0 10px; }
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    margin-right: 2.13%; }
  .onecol {
    width: 6.38%; }
  .twocol {
    width: 14.89%; }
  .threecol {
    width: 23.4%; }
  .fourcol {
    width: 31.91%; }
  .fivecol {
    width: 37.42%; }
  .sixcol {
    width: 48.93%; }
  .sevencol {
    width: 57.44%; }
  .eightcol {
    width: 65.95%; }
  .ninecol {
    width: 74.46%; }
  .tencol {
    width: 82.97%; }
  .elevencol {
    width: 91.48%; }
  .twelvecol {
    width: 99.99%; }
  .last {
    margin-right: 0; } }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/*********************
BORDER RADIUS
*********************/
/*********************
BORDER RADIUS - Even
*********************/
/*********************
BOX SHADOW
*********************/
/*********************
TRIANGLES
*********************/
/*********************
Background Size
*********************/
/*********************
Branberg Logo
*********************/
/*********************
Transform
*********************/
/* General styles for the modal */
/*
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden; }

.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }

.container {
  background: #e74c3c;
  min-height: 100%; }

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: 420px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.md-show {
  visibility: visible; }

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

/* Content styles */
.md-content {
  color: #1a1a1a;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
  height: 420px;
  padding: 40px; }

/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.main_contact,
.secondary_contact {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #bcbcbc; }

.main_contact p,
.secondary_contact p {
  margin: 0; }

.main_contact a,
.secondary_contact a {
  color: #bcbcbc; }

.main_contact {
  position: absolute;
  top: 170px; }

.secondary_contact {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  overflow: hidden; }

.secondary_contact .address {
  float: left;
  font-size: 0.75em;
  position: relative;
  top: 6px; }

.secondary_contact .social {
  float: right; }

.secondary_contact .social a {
  display: inline-block;
  margin: 0 0 0 10px; }

.secondary_contact .social i {
  font-size: 1.2em; }

.secondary_contact .social a:hover i.fa-twitter {
  color: #55acee; }

.secondary_contact .social a:hover i.fa-dribbble {
  color: #ea4c89; }

p.number {
  color: #1a1a1a;
  margin-bottom: 6px; }

/*************************************
GLOBALS
*************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background-color: #ffffff;
  color: #1a1a1a;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 1em; }

a {
  color: #1a1a1a;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif; }

#wrapper {
  position: relative; }

.button {
  display: inline-block;
  position: relative;
  border: solid 1px #000;
  padding: 6px 10px;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out; }

.button:hover {
  text-decoration: none;
  opacity: 0.85; }

/*************************************
HEADER
*************************************/
header#main_header {
  padding: 20px;
  font-family: "Montserrat", sans-serif; }

#logo {
  display: block;
  padding: 8px;
  float: left;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out; }

#logo:hover {
  opacity: 0.7; }

#logo #branberg_logo {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden; }

#logo #branberg_logo:before, #logo #branberg_logo:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 23.1px;
  height: 0;
  border-top: solid 13.8px #000;
  border-bottom: solid 13.8px rgba(255, 255, 255, 0);
  border-right: solid 6.9px rgba(255, 255, 255, 0); }

#logo #branberg_logo:before {
  top: 0; }

#logo #branberg_logo:after {
  top: 16.2px; }

#logo img {
  display: block;
  width: 100%;
  height: auto; }

nav#main_nav {
  float: right;
  margin-top: 8px; }

nav#main_nav ul {
  margin: 0;
  padding: 0; }

nav#main_nav ul li {
  list-style-type: none;
  display: inline-block; }

nav#main_nav ul li button {
  border: none;
  background: none;
  outline: none; }

nav#main_nav ul li a, nav#main_nav ul li button {
  display: block;
  padding: 6px 8px; }

nav#main_nav ul li.current_page a,
nav#main_nav ul li.current_page button,
nav#main_nav ul li a:hover,
nav#main_nav ul li button:hover {
  text-decoration: none;
  color: #bebebe; }

/*************************************
HOMEPAGE
*************************************/
body.homepage #homepage_background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #ffffff url("http://branberg.com/library/img/background.png") 0 0 repeat scroll;
  -webkit-background-size: 450px;
  -moz-background-size: 450px;
  -o-background-size: 450px;
  background-size: 450px;
  z-index: 0;
  opacity: 0.5; }

#homepage_content {
  padding: 30px;
  text-align: center;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef; }

#homepage_content h1 {
  margin: 0 0 0.3em 0; }

#homepage_content h2 {
  color: #bebebe;
  font-weight: 300;
  margin: 0; }

/*************************************
CONTENT
*************************************/
#content {
  background: #ffffff;
  min-height: 300px; }

#content h1 {
  font-weight: 300;
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
  margin: 0; }

/*************************************
STUDIO
*************************************/
.wrap.studio_wrap {
  max-width: 400px; }

/*************************************
WORK
*************************************/
ul#client_list {
  margin: 0;
  padding: 20px 0; }

ul#client_list li {
  display: block;
  float: left;
  width: 50%;
  padding: 10%;
  text-align: center; }

ul#client_list a {
  display: block; }

ul#client_list img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

#work_container {
  margin-top: 2em; }

#work_container ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#work_container li {
  display: block;
  width: 100%;
  float: left;
  position: relative; }

#work_container img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1; }

.work_label {
  font-weight: 300;
  display: block;
  font-size: 1em;
  background: #1a1a1a;
  color: #ffffff;
  position: relative; }

.work_label:after {
  display: table;
  content: '';
  clear: both; }

.work_label .label {
  padding: 20px 96px 20px 20px;
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.work_label .label span {
  font-weight: 700;
  margin-right: 6px; }

.work_label a.button {
  color: #ffffff;
  float: right;
  border-color: #ffffff;
  position: absolute;
  top: 12px;
  right: 12px; }

.overlay {
  display: none;
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: solid 1px #ffffff;
  color: #1a1a1a; }

/*************************************
FOOTER
*************************************/
footer#main_footer {
  color: #bebebe;
  padding: 30px;
  font-family: "Montserrat", sans-serif; }

footer#main_footer ul {
  margin: 0;
  padding: 0; }

footer#main_footer ul li {
  list-style-type: none;
  display: block;
  padding: 8px; }

footer#main_footer ul li a {
  color: #bebebe;
  text-decoration: underline; }

/*************************************
Contact Modal
*************************************/
.modal_overlay {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none; }

.modal {
  display: none;
  position: fixed;
  background: #ffffff;
  color: #1a1a1a;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.modal_content h3 {
  margin: 0;
  background: #f8f8f8;
  padding: 20px; }

.modal_content > div {
  padding: 20px; }

.modal_content p {
  margin-top: 0; }

.modal-show {
  visibility: visible; }

.modal-show ~ .modal_overlay {
  opacity: 1;
  visibility: visible; }

.modal_content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.modal-show .modal_content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.unavailable {
  border: solid 1px #cc3641;
  color: #cc3641;
  display: block;
  padding: 10px 13px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

@media only screen and (min-width: 580px) {
  /*************************************
  WORK
  *************************************/
  ul#client_list li {
    width: 33.33%;
    padding: 8%; }
  #work_container li {
    display: block;
    width: 50%;
    float: left; } }

@media only screen and (min-width: 768px) {
  /*************************************
  GLOBALS
  *************************************/
  /*************************************
  HEADER
  *************************************/
  header#main_header {
    padding: 55px; }
  #logo {
    width: 45px;
    padding: 0; }
  #logo #branberg_logo {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    overflow: hidden; }
  #logo #branberg_logo:before, #logo #branberg_logo:after {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 34.65px;
    height: 0;
    border-top: solid 20.7px #000;
    border-bottom: solid 20.7px rgba(255, 255, 255, 0);
    border-right: solid 10.35px rgba(255, 255, 255, 0); }
  #logo #branberg_logo:before {
    top: 0; }
  #logo #branberg_logo:after {
    top: 24.3px; }
  nav#main_nav {
    font-size: 1.2em;
    margin-top: 6px; }
  nav#main_nav ul li {
    margin-left: 16px; }
  /*************************************
  HOMEPAGE
  *************************************/
  body.homepage header#main_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; }
  body.homepage footer#main_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; }
  #homepage_content {
    border: none;
    padding: 55px;
    position: fixed;
    width: 100%;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%); }
  #homepage_content h1 {
    font-size: 3em; }
  /*************************************
  STUDIO
  *************************************/
  /*************************************
  WORK
  *************************************/
  ul#client_list li {
    width: 25%;
    padding: 6%; }
  /*************************************
  FOOTER
  *************************************/
  footer#main_footer {
    padding: 55px;
    font-size: 0.85em; }
  footer#main_footer ul li {
    display: block;
    float: left; }
  footer#main_footer ul li a {
    text-decoration: none; }
  footer#main_footer ul li a:hover {
    color: #1a1a1a; }
  footer#main_footer ul li.right_align {
    float: right; } }

@media only screen and (min-width: 1024px) {
  /*************************************
  GLOBALS
  *************************************/
  /*************************************
  HEADER
  *************************************/
  nav {
    font-size: 1.3em; }
  nav ul li {
    margin-left: 30px; }
  /*************************************
  HOMEPAGE
  *************************************/
  #homepage_content h1 {
    font-size: 3.8em; }
  #homepage_content h2 {
    font-size: 2em; }
  /*************************************
  FOOTER
  *************************************/
  footer#main_footer {
    font-size: 1.15em; }
  footer#main_footer ul li {
    margin-right: 30px; }
  footer#main_footer ul li.right_align {
    margin-right: 0; } }

#theme-switcher {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9999;
  background: #f8f8f8;
  border-radius: 0 6px 6px 0;
  padding: 20px;
  border: solid 1px #ccc;
  border-left: none; }
  #theme-switcher button {
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
    border: solid 1px #333;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    outline: none;
    text-indent: -9999px;
    opacity: 0.8;
    transition: opacity 0.015s ease-in-out; }
    #theme-switcher button:hover {
      opacity: 1; }
    #theme-switcher button:last-child {
      margin-bottom: 0; }
    #theme-switcher button#theme-01 {
      background-color: #111111; }
    #theme-switcher button#theme-02 {
      background-color: #ffffff; }
    #theme-switcher button#theme-03 {
      background-color: #3399ff; }
    #theme-switcher button#theme-04 {
      background-color: #ec1c24; }
