.theme-background-color {
  background-color: #ffffff !important; }

.theme-background-image {
  background-image: url("../../img/bg-theme-01.png") !important; }

.theme-text-primary {
  color: #1a1a1a !important; }

.theme-text-secondary {
  color: #bebebe !important; }

#logo #branberg_logo:before,
#logo #branberg_logo:after {
  border-top-color: #1a1a1a; }
