.theme-background-color {
  background-color: #3399ff; }

.theme-background-image {
  background-image: "../../img/bg-theme-03.png"; }

.theme-text-primary {
  color: #ffffff; }

.theme-text-secondary {
  color: #0066cc; }
