.theme-background-color {
  background-color: #ec1c24; }

.theme-background-image {
  background-image: "../../img/bg-theme-04.png"; }

.theme-text-primary {
  color: #ffffff; }

.theme-text-secondary {
  color: #950d12; }
