.theme-background-color {
  background-color: #ffffff; }

.theme-background-image {
  background-image: "../../img/bg-theme-01.png"; }

.theme-text-primary {
  color: #1a1a1a; }

.theme-text-secondary {
  color: #bebebe; }
