.theme-background-color {
  background-color: #1a1a1a !important; }

.theme-background-image {
  background-image: url("../../img/bg-theme-02.png") !important; }

.theme-text-primary {
  color: #ffffff !important; }

.theme-text-secondary {
  color: #666666 !important; }

#logo #branberg_logo:before,
#logo #branberg_logo:after {
  border-top-color: #ffffff; }
