.theme-background-color {
  background-color: #ec1c24 !important; }

.theme-background-image {
  background-image: url("../../img/bg-theme-04.png") !important; }

.theme-text-primary {
  color: #ffffff !important; }

.theme-text-secondary {
  color: #950d12 !important; }

#logo #branberg_logo:before,
#logo #branberg_logo:after {
  border-top-color: #ffffff; }
