@mixin theme (

  $background-color:    #ffffff,
  $background-image:    "../../img/bg-theme-01.png",
  $text-primary:        #1a1a1a,
  $text-secondary:      #bebebe

){

  .theme-background-color{ background-color: $background-color !important; }
  .theme-background-image{ background-image: url($background-image) !important; }
  .theme-text-primary{ color: $text-primary !important; }
  .theme-text-secondary{ color: $text-secondary !important; }

  #logo #branberg_logo:before,
  #logo #branberg_logo:after{
    border-top-color: $text-primary;
  }

} //end
